<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
  <link type="text/css"  href="../public/css/feed.css">
  <title>Document</title>
  <!-- <script src="http://localhost:3300/socket.io/socket.io.js"></script> -->
</head>

<body>
  <div id="app" class="columns">
    <div class="column">
      <div class="tweet">
        <% user.posts.forEach(({text, likes, stars, id}) => { %>
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="https://semantic-ui.com/images/avatar2/large/matthew.png" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong><%= user.name %></strong><small><%= user.email %></small>
                  <br>
                  <%= text %>
                </p>
              </div>
              <div class="level-left">
                <a class="level-item" href=<%= `/redes/like/${user.id}/${id}`%>>
                  <span class="icon is-small" id=likeIcon'><i class="fas fa-heart"></i></span>
                  <span class="likes" id=<%= `currentLikes-${id}` %>><%= likes %></span>
                </a>
                <a class="level-item"  href=<%= `/redes/star/${user.id}/${id}`%>>
                  <span class="icon is-small" id='starIcon'><i class="fas fa-star"></i></span>
                  <span class="likes" id=<%=`currentStars-${id}`%>><%= stars %></span>
                </a>
              </div>
            </div>
          </article>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
  <!-- <script type="module" src="../public/js/index.js"></script> -->
  <script type="module">
 
 import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";
const socket = io('http://localhost:3300')

socket.on('updateLikes', (likesC) => {
  const { postId, likes } = likesC
  const like = document.querySelector(`#currentLikes-${postId}`)
  like.innerHTML = likes
})
socket.on('updateStars', (starC) => {
  console.log(starC)
  const { postId, stars } = starC
  const star = document.querySelector(`#currentStars-${postId}`)
  star.innerHTML = stars
})


  </script>
</body>
</html>
